<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div> <a class="navbar-brand" href="#"><i class="fa-solid fa-magnifying-glass"></i>online laptop rental</a>
        <a class="navbar-brand" routerLink="/about-us"> About us</a>
        <a class="navbar-brand" routerLink="/contact-us">Contact us</a>
      </div>
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="bar">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/register-user">
                <p>registerv user</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register-user">
                <p>register User</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <p>login</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  <form #data="ngForm" [formGroup]="loginForm" (ngSubmit)="login(data)">
  
  
    <div class="container">
  
  
      <label for="customerId"><b>customerId</b></label>
      <input type="text" placeholder="Enter customerId" name="customerId" formControlName="customerId">
      <span *ngIf="customerId && customerId.touched && customerId.invalid" style="color: red; ">Invalid customerId</span>
  
  
      <label for="psw"><b>userPassword</b></label>
      <input type="userPassword" placeholder="Enter userPassword" name="psw" formControlName="userPassword">
      <span *ngIf="userPassword && userPassword.invalid && userPassword.touched" style="color: red">Invalid userPassword</span><br>
  
      <button (click)="submit()" type="submit">Sign In</button>
  
      Forgot Password? <button (click)="submit()" style="width: 80px; height: 40px;" type="submit">Reset</button>
    </div>
  </form>